<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>DNM-Blog</h1>
      <h2>클라이언트는 EJS로 작성중</h2>
      <div class="input-group">
        <textarea id="input" maxlength="140"></textarea>
      </div>
      <div>
        <button class="btn" type="submit">업로드</button>
      </div>
    </div>
  </body>
</html>